In [10]:
import pandas as pd
import numpy as np

In [20]:
file_name = "amb.xlsx"
categories = pd.read_excel(io = file_name, sheet_name = 0)
demographics = pd.read_excel(io = file_name, sheet_name = 1)

In [26]:
categories = categories.dropna()
demographics = demographics.dropna()

In [31]:
categories['total_incidents'].astype('int');
demographics['total_incidents'].astype('int');

In [32]:
categories

,year,month,LSOA11CD,LSOA11NM,category,total_incidents
0,2019,September-November,E01000001,City of London 001A,C1,8
1,2019,September-November,E01000001,City of London 001A,C2,33
2,2019,September-November,E01000001,City of London 001A,C3,16
3,2019,September-November,E01000001,City of London 001A,C4,2
4,2019,September-November,E01000001,City of London 001A,C5,7
...,...,...,...,...,...,...
64493,2020,September-November,E01033746,Greenwich 038E,C2,35
64494,2020,September-November,E01033746,Greenwich 038E,C3,13
64495,2020,September-November,E01033746,Greenwich 038E,C4,2
64497,2020,September-November,E01033746,Greenwich 038E,O,2
64498,2020,September-November,E01033746,Greenwich 038E,Total,58

In [33]:
demo_total = categories[categories['category'] == 'Total']
demo_total

,year,month,LSOA11CD,LSOA11NM,category,total_incidents
5,2019,September-November,E01000001,City of London 001A,Total,66
12,2019,September-November,E01000002,City of London 001B,Total,122
19,2019,September-November,E01000003,City of London 001C,Total,57
25,2019,September-November,E01000005,City of London 001E,Total,140
31,2019,September-November,E01000006,Barking and Dagenham 016A,Total,48
...,...,...,...,...,...,...
64474,2020,September-November,E01033742,Greenwich 007F,Total,62
64481,2020,September-November,E01033743,Greenwich 002H,Total,106
64486,2020,September-November,E01033744,Greenwich 007G,Total,20
64491,2020,September-November,E01033745,Greenwich 002I,Total,32
64498,2020,September-November,E01033746,Greenwich 038E,Total,58

In [34]:
demographics

,year,month,LSOA11CD,LSOA11NM,age,sex,category,total_incidents
2,2019,September-November,E01000001,City of London 001A,10.0,F,Total,1
3,2019,September-November,E01000001,City of London 001A,20.0,F,Total,2
4,2019,September-November,E01000001,City of London 001A,20.0,M,Total,1
5,2019,September-November,E01000001,City of London 001A,30.0,F,Total,11
6,2019,September-November,E01000001,City of London 001A,30.0,M,Total,8
...,...,...,...,...,...,...,...,...
193577,2020,September-November,E01033746,Greenwich 038E,70.0,M,Total,11
193578,2020,September-November,E01033746,Greenwich 038E,80.0,F,Total,6
193579,2020,September-November,E01033746,Greenwich 038E,80.0,M,Total,7
193580,2020,September-November,E01033746,Greenwich 038E,90.0,M,Total,2
193581,2020,September-November,E01033746,Greenwich 038E,90.0,F,Total,8

In [39]:
def print_features(df):
    for key in df.columns:
        print("{}:{}, total num:{}".format(key, np.unique(df[key]),len(np.unique(df[key]))))

In [40]:
print_features(categories)

year:[2019 2020], total num:2
month:['September-November'], total num:1
LSOA11CD:['E01000001' 'E01000002' 'E01000003' ... 'E01033744' 'E01033745'
 'E01033746'], total num:4819
LSOA11NM:['Barking and Dagenham 001A' 'Barking and Dagenham 001B'
 'Barking and Dagenham 001C' ... 'Westminster 024D' 'Westminster 024E'
 'Westminster 024F'], total num:4819
category:['C1 ' 'C2 ' 'C3 ' 'C4 ' 'C5 ' 'O  ' 'Total'], total num:7
total_incidents:[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  197
  198  200  201  202  204  205  207  208  209  210  211  213  214  215
  216  217  218  219  220  221  223  224  226  227  228  229  230  231
  232  233  234  235  236  237  239  240  241  242  243  246  247  249
  250  253  254  255  256  258  259  261  262  263  264  266  268  270
  272  273  275  277  278  279  280  288  289  291  292  294  295  296
  298  299  303  305  307  308  313  314  315  316  318  321  322  326
  330  332  355  363  368  372  381  385  396  401  404  409  415  419
  420  426  431  443  455  457  463  480  497  499  508  513  529  580
  670  677  742  807  822  878 1206 2010], total num:316

In [41]:
print_features(demographics)

year:[2019 2020], total num:2
month:['September-November'], total num:1
LSOA11CD:['E01000001' 'E01000002' 'E01000003' ... 'E01033744' 'E01033745'
 'E01033746'], total num:4819
LSOA11NM:['Barking and Dagenham 001A' 'Barking and Dagenham 001B'
 'Barking and Dagenham 001C' ... 'Westminster 024D' 'Westminster 024E'
 'Westminster 024F'], total num:4819
age:[  0.  10.  20.  30.  40.  50.  60.  70.  80.  90. 100. 110.], total num:12
sex:['F' 'M' 'U'], total num:3
category:['Total'], total num:1
total_incidents:[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  66  67  68  69  71  74  75  76
  77  78  79  80  81  82  83  84  85  86  87  88  90  91  93  95  97  98
 101 102 103 104 107 108 114 118 124 126 127 128 130 132 135 141 142 147
 153 160 169 170 180 181 188], total num:115